<div id="wrap">
<header>
  <div class="masthead clearfix">
      <div class="inner">
        <h1 class="masthead-brand col-md-2">
          <span style="font-family: 'Roboto', sans-serif; font-weight: 600;"><a href="/">{{ site.title }}</a></span> 
        </h1>
        <ul class="col-md-2 masthead-nav">
          <li><a href="http://github.com/metapolator/metapolator" title="Github"><span class="fa fa-github fa-lg"></span></a>   </li>
          <li><a href="https://plus.google.com/u/0/communities/110027004108709154749" title="Google+"><span class="fa fa-google-plus fa-lg"></span></a></li>
        </ul>
      </div>
    </div>
</header>
